<div layout="column" ng-cloak="" class="inputdxErrors">
  <md-content layout-padding="" style="background-color: #fbfbfb;">
    <form name="projectForm">
      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label>Número de Inventario</label>
          <input name="numero_inv" type="text" md-auto-hide="!editOnly" md-no-asterisk="" ng-model="project.numero_inventario" ng-required="!project.numero_inventario && !project.numero_serie">
          <div ng-messages="projectForm.numero_inv.$error">
            <div ng-message="required">El campo Número de Inventario es requerido</div>
          </div>
        </md-input-container>
        <md-input-container flex="50" class="md-block">
          <label>Número de Serie</label>
          <input name="numero_ser" type="text" md-maxlength="50" md-no-asterisk="" ng-model="project.numero_serie" ng-required="!project.numero_serie && !project.numero_inventario">
          <div ng-messages="projectForm.numero_ser.$error">
            <div ng-message="md-maxlength">El campo Número de Serie debe ser máximo 50 caracteres</div>
            <div ng-message="required">El campo Número de Serie es requerido</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label>Grupo</label>
          <md-select name="grupo" ng-model="project.grupo_id" ng-disabled="!grupos || grupos.length == 1" ng-required="!project.grupo_id">
            <md-option ng-repeat="x in grupos track by x.id" value="{{x.id}}">{{x.grupo}}</md-option>
          </md-select>
          <div ng-messages="projectForm.grupo.$error">
            <div ng-message="required">El campo Grupo es requerido</div>
          </div>
        </md-input-container>

        <md-input-container flex="50" class="md-block">
          <label>Subgrupo</label>
          <md-select name="subgrupo" ng-model="project.subgrupo_id" ng-change="cambioSubgrupo();" ng-disabled = "!subgrupos || subgrupos.length == 0" ng-required="!project.subgrupo_id">
            <md-option ng-repeat="x in subgrupos track by x.id" value="{{x.id}}">{{x.subgrupo}}</md-option>            
          </md-select>
          <div ng-messages="projectForm.subgrupo.$error">
            <div ng-message="required">El campo Subgrupo es requerido</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label>Marca</label>
          <md-select name="marca" ng-model="project.marca_id" ng-change="cambioMarca();" ng-disabled="!marcas || marcas.length == 0" ng-required="!project.marca_id">
            <md-option ng-repeat="x in marcas track by x.id" value="{{x.id}}">{{x.marca}}</md-option>            
          </md-select>
          <div ng-messages="projectForm.marca.$error">
            <div ng-message="required">El campo Marca es requerido</div>
          </div>
        </md-input-container>

        <md-input-container flex="50" class="md-block" ng-if="firstTime">
          <label>Modelo</label>
          <md-select name = "modeloid" ng-model="project.modelo_id" ng-change="cambioModelo()" ng-disabled="!modelos || modelos.length == 0" ng-required = "firstTime && !project.modelo_id">
            <md-option ng-repeat="x in modelos track by x.id" value="{{x.id}}">{{x.modelo}}</md-option>
          </md-select>
          <div ng-messages="projectForm.modeloid.$error">
            <div ng-message="required">El campo Modelo es requerido</div>
          </div>
        </md-input-container>
        <md-input-container flex="50" class="md-block" ng-if="!firstTime">
          <label>Modelo</label>
          <md-select name = "modelo" ng-model="project.modelo" ng-change="cambioModelo()" ng-disabled="!modelos || modelos.length == 0" ng-required = "!firstTime && !project.modelo">
            <md-option ng-repeat="x in modelos track by x.id" value="{{x}}">{{x.modelo}}</md-option>
          </md-select>
          <div ng-messages="projectForm.modelo.$error">
            <div ng-message="required">El campo Modelo es requerido</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="100" class="md-block">
          <label>Caracteristicas</label>
          <md-select name = "caracteristica" ng-model="project.caracteristica_id" ng-change = "cambioCaracteristica();" ng-disabled="!caracteristicas || caracteristicas.length == 0" ng-required="!project.caracteristica_id">
            <md-option ng-repeat="x in caracteristicas track by x.id" value="{{x.id}}">{{x.caracteristica}}</md-option>
          </md-select>
          <div ng-messages="projectForm.caracteristica.$error">
            <div ng-message="required">El campo Caracteristicas es requerido</div>
          </div>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label>Municipio</label>
          <md-select name ="municipio" ng-model="project.municipio" ng-change="cambioMunicipio();" ng-required="!project.municipio && !project.area_id">
            <md-option ng-repeat="x in municipios track by x.id" value="{{x}}"><small>{{x.id < 10 ? '0' + x.id: x.id}} - </small>{{x.municipio}}</md-option>
          </md-select>
          <div ng-messages="projectForm.municipio.$error">
            <div ng-message="required">El campo Municipio es requerido</div>
          </div>
        </md-input-container>

        <md-input-container flex="50" class="md-block">
          <label>Oficialía</label>
          <md-select name = "oficialia" ng-model="project.oficialia_id" ng-change = "cambioOficialia()" ng-required="!project.oficialia_id && !project.area_id">
            <md-option ng-repeat="x in oficialias track by x.id" value="{{x.id}}"><small>{{x.id}} - </small>{{x.oficialia}}</md-option>
          </md-select>
          <div ng-messages="projectForm.oficialia.$error">
            <div ng-message="required">El campo Oficialia es requerido</div>
          </div>
        </md-input-container>     
      </div>

      <div layout="row">
        <md-input-container flex="50" class="md-block">
          <label>Área</label>
          <md-select name ="area" ng-model="project.area_id" ng-required="!project.area_id && !project.oficialia_id">
            <md-option ng-repeat="x in areas track by x.id" value="{{x.id}}">{{x.area}}</md-option>
          </md-select>
          <div ng-messages="projectForm.area.$error">
            <div ng-message="required">El campo Área es requerido</div>
          </div>
        </md-input-container>

        <md-input-container flex="50" class="md-block">
          <label>Responsable</label>
          <md-select name ="responsable" ng-model="project.responsable_id" ng-required="!project.responsable_id">
            <md-option ng-repeat="x in responsables track by x.id" value="{{x.id}}">{{x.responsable}}</md-option>
          </md-select>
          <div ng-messages="projectForm.responsable.$error">
            <div ng-message="required">El campo Responsable es requerido</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="20" class="md-block" style="margin-top: 37px;margin-left: 5px;">
          <md-checkbox name="status" ng-model="project.status">
            {{project.status? "Activo": "En reparación"}}
          </md-checkbox>
        </md-input-container>

        <md-input-container flex="50" class="md-block" ng-if="!editOnly">
          <md-switch class="md-primary" name="keefForm" ng-model="project.keefForm">
            No borrar formulario al guardar
          </md-switch>
        </md-input-container>
      </div>
      <div>
        <md-button type="submit" aria-label="agregar" class="md-raised md-warn" ng-click="guardar();">Guardar <span class="glyphicon glyphicon-upload" aria-hidden="true"></span></md-button>
      </div>
    </form>
  </md-content>
</div>