<div style="margin-left: 15%; width: 55%;">
<br>
  <div class="" style="margin-left: -13%;width: 930px;">
	 <div fusioncharts
	    width="750" 
	    height="400"
	    type="msline"
	    chart="{{attrs}}"
	    categories="{{categories}}"
	    dataset="{{dataset}}"
	    ></div>
  </div>
</div>