<md-content>
    <md-tabs class="" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" style="background-color:white; min-height: {{tab_size}}; width: 1200px;" >
      <md-tab id="tab1">
        <md-tab-label>Inventario</md-tab-label>
        <md-tab-body>
        <md-switch class="md-primary" name="Status" ng-model="status_activo" style="">
          {{status_activo? "Activo": "Baja"}}
        </md-switch>
        <md-table-container style="width: 1200px">
            <md-progress-linear md-mode="query" ng-if="loading"></md-progress-linear>
            <md-progress-linear md-mode="query" ng-if="!loading" style="opacity: 0;"></md-progress-linear>
              <table md-table md-row-select ng-model="selected">
                <thead md-head md-order="query.order" md-on-reorder="getInventario">
                  <tr md-row>
                    <th md-column md-order-by="numero_inventario"><span>Numero de Inventario</span></th>
                    <th md-column md-order-by="numero_serie">Numero de Serie</th>
                    <th md-column ng-if="status_activo">Status</th>
                    <th md-column ng-if="!status_activo">Fecha de baja</th>
                    <th md-column>Subgrupo</th>
                    <th md-column>Marca y Modelo</th>
                    <th md-column md-order-by="oficialia" ng-if="status_activo">Área u Oficialía</th>
                    <th md-column md-order-by="oficialia" ng-if="!status_activo">Área</th>
                    <th md-column md-order-by="responsable">Responsable</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="objeto" md-select-id="name" md-auto-select ng-repeat="objeto in inventario.data">
                    <td md-cell>{{objeto.numero_inventario}}</td>
                    <td md-cell>{{objeto.numero_serie}}</td>
                    <td md-cell ng-if="status_activo">{{objeto.status? "Activo": "En reparación"}}</td>
                    <td md-cell ng-if="!status_activo && objeto.fecha_baja != '0000-00-00'">{{millisec(objeto.fecha_baja) | date:'dd/MM/yyyy'}}</td>
                    <td md-cell ng-if="!status_activo && objeto.fecha_baja == '0000-00-00'">{{'01/01/1800'}}</td>
                    <td md-cell>{{objeto.modelo.subgrupo.subgrupo}}</td>
                    <td md-cell>{{objeto.modelo.marca.marca}} {{objeto.modelo.modelo}}</td>
                    <td md-cell ng-if="status_activo">{{objeto.oficialia.oficialia? objeto.oficialia.oficialia: objeto.area.area}}</td>
                    <td md-cell ng-if="!status_activo">{{objeto.area.area? objeto.area.area: objeto.oficialia.oficialia}}</td>
                    <td md-cell>{{objeto.responsable.responsable}}</td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{total}}" md-on-paginate="getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>
            <br>
            <div layout="row">
              <md-input-container flex="30">
                <label>Buscar</label>
                <input type="text" name = "srch" ng-model = "strSearch" ng-enter="buscaArticulo();"/>
              </md-input-container>
              <md-input-container flex="60">
                <md-button type="button" aria-label="search" class="md-raised" ng-click="buscaArticulo();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></md-button>
                <!--<md-button type="button" aria-label="printqueue" class="md-raised" ng-if="selected && selected.length > 0 && status_activo" ng-click="printqueueAdd();"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><span class="glyphicon glyphicon-print" aria-hidden="true"></span></md-button>-->
                <md-button type="button" aria-label="print" class="md-raised" ng-if="selected && selected.length > 0 && printqueue.length == 0 && status_activo" ng-click="print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></md-button>
                <md-button type="button" aria-label="editar" class="md-raised md-primary" ng-if="selected && selected.length == 1 && status_activo" ng-click="editar();"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></md-button>
                <md-button type="button" aria-label="baja" class="md-raised md-warn" ng-if="selected && selected.length == 1 && status_activo" ng-click="baja();" ng-disabled="!admin"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></md-button>
              </md-input-container>
            </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab1" ng-if = "printqueue.length > 0" style="width: 1200px">
        <md-tab-label>Seleccionados para Imprimir</md-tab-label>
        <md-tab-body>
          <md-table-container style="width: 1200px">
            <md-progress-linear md-mode="query" ng-if="loading"></md-progress-linear>
            <md-progress-linear md-mode="query" ng-if="!loading" style="opacity: 0;"></md-progress-linear>
            <table md-table md-row-select multiple ng-model="selected2">
              <thead md-head md-order="query.order" md-on-reorder="getInventario">
                <tr md-row>
                  <th md-column><span>Numero de Inventario</span></th>
                  <th md-column>Numero de Serie</th>
                  <th md-column>Subgrupo</th>
                  <th md-column>Marca y Modelo</th>
                  <th md-column>Área u Oficialía</th>
                  <th md-column>Responsable</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="objeto" md-select-id="name" md-auto-select ng-repeat="objeto in printqueue">
                  <td md-cell>{{objeto.numero_inventario}}</td>
                  <td md-cell>{{objeto.numero_serie}}</td>
                  <td md-cell>{{objeto.modelo.subgrupo.subgrupo}}</td>
                  <td md-cell>{{objeto.modelo.marca.marca}} {{objeto.modelo.modelo}}</td>
                  <td md-cell>{{objeto.oficialia.oficialia? objeto.oficialia.oficialia : objeto.area.area}}</td>
                  <td md-cell>{{objeto.responsable.responsable}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container><br>
          <md-button type="button" aria-label="print" class="md-raised" ng-if="printqueue && printqueue.length > 0" ng-click="printqueueprint();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></md-button>
          <md-button type="button" aria-label="remove" class="md-raised" ng-disabled="!selected2 || selected2.length == 0" ng-click="remove();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></md-button>
        </md-tab-body>
      </md-tab>
    </md-tabs>
</div>