<style type="text/css">md-dialog._md.md-default-theme.md-transition-in { width: 40%; }</style>
<md-content style ="background-color:white;">
    <md-tabs class="" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" style="background-color: white;margin-left: 150px; min-height: 600px; width: 920px;" ng-style="{{myStyle}}">
      <md-tab id="tab1">
        <md-tab-label>Responsable</md-tab-label>
        <md-tab-body><br>
            <form ng-submit="$event.preventDefault()" name="searchForm">
              <md-autocomplete flex ng-required = "!showing"
                md-input-name="autocompleteField"
                md-input-minlength="5"
                md-input-maxlength="45"
                md-no-cache="noCache"
                md-selected-item="selectedItem"
                md-search-text="searchText"
                md-items="item in querySearch(searchText)"
                md-item-text="item.responsable"
                md-require-match
                md-floating-label="Buscar responsable">
              <md-item-template>
                <span md-highlight-text="searchText">{{item.responsable}}</span>
              </md-item-template>
              <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                <div ng-message="required">Usted debe seleccionar un responsable</div>
                <div ng-message="minlength">Ingrese al menos 5 letras</div>
                <div ng-message="maxlength">El texto ingresado es mas largo de lo permitido</div>
                <div ng-message="md-require-match"><span ng-if="searchText.length >= 5 && itemsfound.length == 0">No encontrado</span><span ng-if="searchText.length >= 5 && itemsfound.length > 0">Seleccione un responsable</span></div>
              </div>
              </md-autocomplete>
            </form>
            <div layout="row" ng-show = "showing">
                <table>
                  <tbody>
                    <tr>
                      <td class="col-md-4">
                        <h5><strong>Responsable:</strong></h5>
                      </td>
                      <td>
                        <h5>{{showing.responsable}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-4">
                        <h5><strong>Municipio:</strong></h5>
                      </td>
                      <td>
                        <h5>{{showing.oficialia && showing.oficialia.municipio? showing.oficialia.municipio.municipio: "No asignado"}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-4">
                        <h5><strong>Oficialía:</strong></h5>
                      </td>
                      <td>
                        <h5>{{showing.oficialia && showing.oficialia.oficialia? showing.oficialia.id + " - " + showing.oficialia.oficialia: "No asignada"}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-md-4">
                        <h5><strong>Artículos asignados:</strong></h5>
                      </td>
                      <td>
                        <h5>{{showing.articulos_asignados.length}}</h5>
                      </td>
                    </tr>
                    <tr ng-if="showing.id != 244">
                      <td class="col-md-4">
                        <h5><strong>Artículos con resguardo:</strong></h5>
                      </td>
                      <td>
                        <h5>{{conResguardo()}}</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <br><hr ng-show = "showing">
            <md-button type="button" aria-label="crearResguardo" class="md-raised" ng-if="showing.articulos_asignados.length > 0" ng-click="transferirArticulos();" ng-disabled="!admin">Transferir Artículo<span ng-show="showing.articulos_asignados.length > 1">s</span> <span class="glyphicon glyphicon-random" aria-hidden="true"></span></md-button>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2" ng-if = "showing.articulos_asignados.length > 0" style="width: 920px;" ng-style="{{myStyle}}">
        <md-tab-label>Artículos Asignados</md-tab-label>
        <md-tab-body>
          <md-input-container class="md-block">
            <label>Artículos</span></label>
            <input type="text" name="" disabled="" />
          </md-input-container>
          <md-table-container style="margin-top:-35px;width: 860px;">
            <table md-table md-row-select multiple ng-model="selected2">
              <thead md-head>
                <tr md-row>
                  <th md-column>Numero de Inventario</th>
                  <th md-column>Numero de Serie</th>
                  <th md-column>Artículo</th>
                  <th md-column ng-if="showing.id == 244">Status</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="objeto" md-select-id="name" md-auto-select ng-repeat="objeto in showing.articulos" ng-disabled="objeto.resguardo" ng-style="{background: objeto.resguardo? '#87CEFA': 'white'}"> 
                  <td md-cell>{{objeto.numero_inventario}}</td>
                  <td md-cell>{{objeto.numero_serie}}</td>
                  <td md-cell>{{objeto.modelo.subgrupo.subgrupo}} {{objeto.modelo.marca.marca}} {{objeto.modelo.modelo}}</td>
                  <td md-cell>{{objeto.status? "Activo": "Baja"}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container><br>
          <md-button type="button" aria-label="crearResguardo" class="md-raised md-primary" ng-if="selected2.length > 0 && showing.id != 244" ng-click="crearResguardo();">Crear resguardo <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></md-button>
          <!--<md-button type="button" aria-label="crearResguardo" class="md-raised md-primary" ng-if="selected2.length > 0 && showing.id == 244" ng-click="transferirArticulos();">Transferir Artículo<span ng-show="selected2.length > 1">s</span> <span class="glyphicon glyphicon-random" aria-hidden="true"></span></md-button>-->
      <md-tab id="tab3" ng-if = "showing.resguardos.length > 0" style="width: 920px">
        <md-tab-label>Resguardos</md-tab-label>
        <md-tab-body>
          <md-input-container class="md-block">
            <label>Resguardos</label>
            <input type="text" name="" disabled="" />
          </md-input-container>
          <md-table-container style="margin-top:-35px;width: 920px;">
            <div ng-repeat="resg in showing.resguardos">
              <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column style="width: 14%;padding-right: 20px;">Folio</th>
                  <th md-column style="width: 14%;padding-right: 20px;">Creación</th>
                  <th md-column style="width: 15%;padding-right: 20px;">Firma</th>
                  <th md-column style="width: 14%;padding-right: 25px;">Numero de Inventario</th>
                  <th md-column style="width: 14%;padding-right: 25px;">Numero de Serie</th>
                  <th md-column style="padding-right: 0px;">Artículo</th>
                </tr>
              </thead>
                <tbody md-body>
                  <tr md-row ng-repeat="objeto in resg.articulos">
                    <td md-cell>{{resg.folio}}</td>                  
                    <td md-cell>{{millisec(resg.created_at) | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                    <td md-cell>{{resg.pdf_firmado? (millisec(resg.updated_at) | date:'dd/MM/yyyy hh:mm:ss a'): '-----' }}</td>
                    <td md-cell>{{objeto.numero_inventario}}</td>
                    <td md-cell>{{objeto.numero_serie}}</td>
                    <td md-cell>{{objeto.modelo.subgrupo.subgrupo}} {{objeto.modelo.marca.marca}} {{objeto.modelo.modelo}}</td>
                  </tr>
                </tbody>
              </table>
              <div layout="row">
                <md-container class="md-block" flex="75"></md-container>
                <md-container class="md-block" flex="25">
                  <md-button class="md-icon-button" aria-label="setnote" ng-click="ponerNota($event, resg);">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="generate" ng-click="generatePDF(resg);">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="download" ng-click="downloadSigned(resg);" ng-disabled="!resg.pdf_firmado">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="upload" ng-click="uploadPDF($event, resg);" ng-disabled="!resg.pdf_generado">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                  </md-button>
                </md-container>
              </div>
            </div>
          </md-table-container><br>
          <md-button type="button" aria-label="crearResguardo" class="md-raised md-primary" ng-if="selected2 && showing.id != 244" ng-click="crearResguardo();" ng-show="selected2.length > 0">Crear resguardo <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></md-button>
        </md-tab-body>
      </md-tab>
    </md-tabs>
</div>