<md-dialog aria-label="Baja">
  <form ng-cloak name="projectForm">
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: white; color: rgba(0,0,0,0.87);">
        <h4 style="margin-top: 25px;margin-left: 20px;">{{addmode? 'Agregar caracteristica': 'Caracteristicas'}}</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-height: 200px; width: 650px;">
      <div class="md-dialog-content" style="margin: -30px 20px 0 20px; width: 615px;">
        <div layout="row">
          <md-table-container ng-if="!addmode">
          <table md-table style="width: 555px;">
            <thead md-head>
              <tr md-row>
                <th md-column>Caracteristica</th>
                <th md-column>Fecha de creación</th>
                <th md-column style="color:#f97070;padding-right: 10px;height: 15px;width: 100px;">Eliminar</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="caracteristica" md-select-id="name" ng-repeat="caracteristica in caracteristicas">
                <td md-cell>{{caracteristica.caracteristica}}</td>
                <td md-cell>{{millisec(caracteristica.created_at) | date:'dd/MM/yyyy'}}</td>
                <td md-cell>
                  <md-button class="md-icon-button" aria-label="delete" ng-click="$event.preventDefault(); delete(caracteristica);" style="margin-left: -7px;margin-right: 0px;" ng-disabled="!admin || caracteristica.modelos.length > 0">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
          </md-table-container>
        </div>
        <div layout="row" ng-if="addmode" style="margin-top: 20px;">
          <md-input-container flex="100" class="md-block">
            <label>Caracteristica</label>
            <input name="caracteristica" type="text" md-maxlength="150" md-no-asterisk="" ng-model="nueva_caracteristica.caracteristica" ng-change="cambioCaracteristica()" required>
            <div ng-messages="projectForm.caracteristica.$error">
              <div ng-message="md-maxlength">El campo Caracteristica debe ser máximo 150 caracteres</div>
              <div ng-message="required">El campo Caracteristica es requerido</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" ng-if="addmode">
          <md-button flex="30" class="md-raised md-primary" ng-click="add();" style="height: 10px; margin-top: 20px; width: 22px;" ng-disabled="!nueva_caracteristica.caracteristica">Guardar</md-button>
        </div>
      </div><br>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="changemode()">
        {{addmode? 'Atras': 'Agregar'}}
      </md-button>
      <md-button ng-click="cancel()">
        Salir
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>