<md-dialog aria-label="Baja">
  <form ng-cloak name="projectForm">
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: white; color: rgba(0,0,0,0.87);">
        <h4 style="margin-top: 25px;margin-left: 20px;">{{addmode? 'Agregar modelo': 'Modelos'}}</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-height: 200px; min-width: 700px;">
      <div class="md-dialog-content" style="margin: -30px 20px 0 20px;">
        <div layout="row" ng-if="!addmode" style="width: 900px;">
          <md-table-container>
          <table md-table style="width: 900px;">
            <thead md-head>
              <tr md-row>
                <th md-column>Marca</th>
                <th md-column>Subgrupo</th>
                <th md-column>Modelo</th>
                <th md-column>Caracteristica</th>
                <th md-column>En Inventario</th>
                <th md-column style="color:#f97070; padding-right: 10px;height: 15px;width: 100px;">Eliminar</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="modelo" md-select-id="name" ng-repeat="modelo in modelos">
                <td md-cell>{{modelo.marca.marca}}</td>
                <td md-cell>{{modelo.subgrupo.subgrupo}}</td>
                <td md-cell>{{modelo.modelo}}</td>
                <td md-cell>{{modelo.caracteristica.caracteristica}}</td>
                <td md-cell>{{modelo.articulos.length}}</td>
                <td md-cell>
                  <md-button class="md-icon-button" aria-label="delete" ng-click="$event.preventDefault(); delete(modelo);" style="margin-left: -7px;margin-right: 0px;" ng-disabled="!admin || modelo.articulos.length > 0">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
          </md-table-container>
        </div>
        <div layout="row" ng-if="addmode" style="margin-top:25px;width: 700px;">
          <md-input-container flex="50" class="md-block">
            <label>Marca</label>
            <md-select name="marca" ng-model="nuevo_modelo.marca_id" ng-disabled="!marcas || marcas.length == 0" ng-required="!nuevo_modelo.marca_id">
              <md-option ng-repeat="x in marcas track by x.id" value="{{x.id}}">{{x.marca}}</md-option>
            </md-select>
            <div ng-messages="projectForm.marca.$error">
              <div ng-message="required">El campo Marca es requerido</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Subgrupo</label>
            <md-select name="subgrupo" ng-model="nuevo_modelo.subgrupo_id" ng-disabled="!subgrupos || subgrupos.length == 0" ng-required="!nuevo_modelo.subgrupo_id">
              <md-option ng-repeat="x in subgrupos track by x.id" value="{{x.id}}">{{x.subgrupo}}</md-option>
            </md-select>
            <div ng-messages="projectForm.subgrupo.$error">
              <div ng-message="required">El campo Subgrupo es requerido</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" ng-if="addmode" style="width: 700px;">
          <md-input-container flex="50" class="md-block">
            <label>Modelo</label>
            <input name="modelo" type="text" md-maxlength="50" md-no-asterisk="" ng-model="nuevo_modelo.modelo" ng-change="cambioModelo()" required>
            <div ng-messages="projectForm.modelo.$error">
              <div ng-message="md-maxlength">El campo Modelo debe ser máximo 50 caracteres</div>
              <div ng-message="required">El campo Modelo es requerido</div>
            </div>
          </md-input-container>
          <md-input-container flex="50" class="md-block">
            <label>Caracteristica</label>
            <md-select name="caracteristica" ng-model="nuevo_modelo.caracteristica_id" ng-disabled="!caracteristicas || caracteristicas.length == 0" ng-required="!nuevo_modelo.caracteristica_id">
              <md-option ng-repeat="x in caracteristicas track by x.id" value="{{x.id}}">{{x.caracteristica}}</md-option>
            </md-select>
            <div ng-messages="projectForm.caracteristica.$error">
              <div ng-message="required">El campo Caracteristica es requerido</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" ng-if="addmode">
          <md-button flex="30" class="md-raised md-primary" ng-click="add();" style="height: 10px; margin-top: 20px; width: 22px;" ng-disabled="!nuevo_modelo.modelo || !nuevo_modelo.subgrupo_id || !nuevo_modelo.marca_id || !nuevo_modelo.caracteristica_id">Guardar</md-button>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="changemode()">
        {{addmode? 'Atras': 'Agregar'}}
      </md-button>
      <md-button ng-click="cancel()">
        Salir
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>