<md-dialog aria-label="Baja">
  <form ng-cloak name="projectForm">
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: white; color: rgba(0,0,0,0.87);">
        <h4 style="margin-top: 25px;margin-left: 20px;">{{addmode? 'Agregar subgrupo': 'Subgrupos'}}</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-height: 200px; width: 700px;" ng-if="main">
      <div class="md-dialog-content" style="margin: -30px 20px 0 20px; min-width: 660px;">
        <div layout="row">
          <md-table-container>
          <table md-table style="width: 610px;">
            <thead md-head>
              <tr md-row>
                <th md-column>Grupo</th>
                <th md-column>Subgrupos</th>
                <th md-column>Fecha de creación</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="grupo" md-select-id="name" ng-repeat="grupo in grupos" ng-click="subgrupo(grupo);">
                <td md-cell>{{grupo.grupo}}</td>
                <td md-cell>{{grupo.subgrupos.length}}</td>
                <td md-cell>{{millisec(grupo.created_at) | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          </md-table-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-content style="min-height: 200px; width: 810px;" ng-if="!main && !addmode">
      <div class="md-dialog-content" style="margin: -30px 20px 0 20px;">
        <div layout="row">
          <md-table-container>
          <table md-table style="width: 700px;">
            <thead md-head>
              <tr md-row>
                <th md-column>Subgrupo</th>
                <th md-column>Grupo</th>
                <th md-column>Marcas</th>
                <th md-column>Fecha de creación</th>
                <th md-column style="color:#f97070; padding-right: 10px;height: 15px;width: 100px;">Eliminar</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="subgrupo" md-select-id="name" ng-repeat="subgrupo in subgrupos">
                <td md-cell>{{subgrupo.subgrupo}}</td>
                <td md-cell>{{subgrupo.grupo.grupo}}</td>
                <td md-cell>{{subgrupo.marcas.length}}</td>
                <td md-cell>{{millisec(subgrupo.created_at) | date:'dd/MM/yyyy'}}</td>
                <td md-cell>
                  <md-button class="md-icon-button" aria-label="delete" ng-click="$event.preventDefault(); delete(subgrupo);" style="margin-left: -7px;margin-right: 0px;" ng-disabled="!admin || subgrupo.marcas.length > 0">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
          </md-table-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-content style="min-height: 200px; width: 810px;" ng-if="!main && addmode">
      <div class="md-dialog-content" style="margin: -30px 20px 0 20px;">
        <div layout="row" style="margin-top: 20px;">
          <md-input-container flex="50" class="md-block">
            <label>Subgrupo</label>
            <input name="subgrupo" type="text" md-maxlength="50" md-no-asterisk="" ng-model="nuevo_subgrupo.subgrupo" ng-change="cambioSubgrupo()" required>
            <div ng-messages="projectForm.subgrupo.$error">
              <div ng-message="md-maxlength">El campo Subgrupo debe ser máximo 50 caracteres</div>
              <div ng-message="required">El campo Subgrupo es requerido</div>
            </div>
          </md-input-container>
        <md-input-container flex="50" class="md-block">
          <label>Grupo</label>
          <md-select name="grupo" ng-model="nuevo_subgrupo.grupo_id" ng-disabled="true || !grupos || grupos.length == 0" ng-required="!nuevo_subgrupo.grupo_id">
            <md-option ng-repeat="x in grupos track by x.id" value="{{x.id}}">{{x.grupo}}</md-option>
          </md-select>
          <div ng-messages="projectForm.grupo.$error">
            <div ng-message="required">El campo Grupo es requerido</div>
          </div>
        </md-input-container>
        </div>
        <div layout="row" ng-if="addmode">
          <md-button flex="30" class="md-raised md-primary" ng-click="add();" style="height: 10px; margin-top: 20px; width: 22px;" ng-disabled="!nuevo_subgrupo.subgrupo || !nuevo_subgrupo.grupo_id">Guardar</md-button>
        </div>
      </div><br>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="changemode()" ng-disabled = "main">
        {{addmode? 'Atras': 'Agregar'}}
      </md-button>
      <md-button ng-click="subgrupo()" ng-if = "!addmode" ng-disabled = "main">
        Atras
      </md-button>
      <md-button ng-click="cancel()">
        Salir
      </md-button>
    </md-dialog-actions>
    </div>
  </form>
</md-dialog>