.RegisterForm{
  margin-top: 30%;
  width: 60%;
}
.RegisterForm-inputContainer{  
  margin-bottom: -20px;
  width: 100%;
}

.RegisterForm-submit{
  margin-bottom: 40px;
  margin-left: 200px;
  width: 50%;
  padding: 5px 0;
}

.LoginForm{
  margin-left: 40%;
  margin-top: 10%;
  min-width: 200px;
  width: 40%;
}
.LoginForm-inputContainer{
  margin-top: 10px;
  width: 100%;
}

.LoginForm-submit{
  width: 98%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  /* border-bottom: 1px solid #e5e5e5;*/
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    background-color: #f7f7f7;
    border-bottom: 0;
  }
}
.inputdxErrors{
  margin-left: 15%;
  width: 70%;
}
.inputdxErrors .inputErrorsApp {
  min-height: 48px; 
}

.inputdxErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; 
}
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; 
}
.selectdemoSelectHeader md-content._md {
  max-height: 240px; 
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
.tabsdemoStaticTabs md-content md-tabs {
  border: 1px solid #e1e1e1; }
  .tabsdemoStaticTabs md-content md-tabs md-tab-content {
    padding: 25px; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(1) {
      background-color: #cfd8dc; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(2) {
      background-color: #ffb74d; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(3) {
      background-color: #ffd54f; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(4) {
      background-color: #aed581; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(5) {
      background-color: #00897b; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }

.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
  margin-top: 26px;
  margin-left: 0; }

md-progress-circular.ng-scope.ng-isolate-scope.md-mode-indeterminate svg {
  height: 30px !important;
  margin-top: 15px;
  transform-origin: 50% 50% 0 !important;
  width: 30px !important;
}