<md-dialog aria-label="Resguardo">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content" style="width: 700px;">
        <h4>Subir resguardo</h4>
        <p>
        	►	Seleccione uno o mas archivos en formato PDF con el resguardo firmado.<br>
        </p>
        <form name="testForm" layout="column">
          <lf-ng-md-file-input name="files" lf-files="files01" multiple drag ng-mouseover="changed();">
          </lf-ng-md-file-input>
        </form>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()" ng-disabled = "!files01 || (files01 && files01.length == 0)">
        Subir
      </md-button>
      <md-button ng-click="answer('not useful')">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>